{% load static %}
<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url({% static 'assets/images/img-01.jpg'%})"> <!-- Resimi değiş -->

</div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <a href = "/" style="text-decoration:none" ><h1>{{aboutme.name}} {{aboutme.surname}}</h1></a>
      <p>{{aboutme.job}}</p>
      <p>
        <a class="fa-icon fa-icon-2x" target="_blank" href="{{setting.facebook}}" title="">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="fa-icon fa-icon-2x" target="_blank" href="{{setting.twitter}}" title="">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="fa-icon fa-icon-2x" target="_blank" href="{{setting.instagram}}" title="">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="fa-icon fa-icon-2x" target="_blank" href="{{setting.linkedin}}" title="">
          <i class="fa fa-linkedin"></i>
        </a>

      </p>
    </div>
  </header>