{% extends "homebase.html" %}

{% block title %} {{ project.projectname }} {% endblock %}
{% block keywords %}  {% endblock %}
{% block description %} {{ project.description }} {% endblock %}
{% block head %}
 <link rel="icon" href='{{setting.icon.url}}' >
{% endblock %}

{% block content %}
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">

            <h2>{{ project.projectname }}</h2>
              <p align="right">{{ project.projectowner }} {{ project.projectowner.surname }}</p><br>
            <div class="row">

              <div class="col-md-8">
                  {{ project.contentofproject | safe}}
                  <br><br><br><br><br><br><br><br>
              </div>
            </div>
          </div>
        </div>

     </div>
   </div>
     {% if images %}
        <div class="card">
          <div class="card-block">
            <h2>Proje Hakkında Resimler</h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

              {%for img in images%}
              <div class="{% if forloop.first %} item active {% else %} item {% endif %}" style="width: 700px; height: 700px;">
                <img src="  {{img.image.url}} " class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">{{img.images_name}}</h3>
                  <!-- <p> Year </p> -->
                </div>
              </div>
              {% endfor %}

            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for im in images%}
              <li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}" class=" {% if forloop.first %} active {% endif %}"></li>
              {% endfor %}
            </ol>

          </div>
          </div>
        </div>
     {% endif %}
 </div>

{% endblock %}

